<div class="mb-16 lg:mb-24">
  <h2 class="title-font mb-4 mt-4 block w-full text-lg font-medium sm:text-xl">
    About me
  </h2>
  <p class="mb-8 leading-relaxed">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae quo quae
    soluta nulla illum debitis, fugit eius perspiciatis laborum aliquid sapiente
    voluptas id, maxime odio alias veritatis repellendus, consequatur maiores.
  </p>

  <p class="mb-8 leading-relaxed">
    Soluta sint, pariatur itaque fugiat voluptatem sunt dolores veniam quae
    quibusdam quidem aliquam suscipit unde sapiente quasi impedit consequatur
    neque doloremque non reprehenderit. Omnis amet facere quaerat quos aut
    magni!
  </p>
  <div class="mb-4 mt-auto w-full border-b-2 border-gray-100 pb-4"></div>
  <div class="flex flex-grow flex-col justify-end text-right">
    <span class="title-font font-medium">Rahul Deshar</span>
    <span class="mt-0.5 text-xs tracking-widest text-gray-400"> Developer</span>
  </div>
</div>
