<p class="mx-4 md:mx-14 text-center">
  Coded in Visual Studio Code / neovim by yours truly. Built with Astro, React,
  MDX and Tailwind CSS, deployed with Github Pages and DNS is handled by
  Cloudflare.
</p>
