---
import PersonalSection from "./PersonalSection.astro";
import AboutMe from "./AboutMe.astro";
---

<div class="relative z-20">
  <section class="">
    <div class="container mx-auto items-center">
      <div class="flex flex-wrap items-start">
        <div class="flex flex-col pt-5 md:w-1/2 md:pr-36 md:sticky md:top-0">
          <PersonalSection />
        </div>
        <div class="flex flex-col items-start md:w-1/2 pt-8 sm:pt-20">
          <AboutMe />
          <AboutMe />
          <AboutMe />
          <AboutMe />
          <AboutMe />
        </div>
      </div>
    </div>
  </section>
</div>
