---
import PersonalSection from "./PersonalSection.astro";
import AboutMe from "./AboutMe.astro";
import Experiences from "./Experiences.astro";
import Projects from "./Projects.astro";
import BuiltWith from "./BuiltWith.astro";
---

<div class="relative z-20">
  <section class="">
    <div class="container mx-auto items-center ">
      <div class="flex flex-col md:flex-row">
        <div
          class="flex flex-col pt-5 md:sticky md:top-0 py-16 md:h-screen md:w-1/2 md:pr-28 lg:w-5/12"
        >
          <PersonalSection />
        </div>
        <div class="flex flex-col items-start mt-6 py-16 sm:pt-20 md:w-1/2 lg:w-7/12">
          <AboutMe />
          <Experiences />
          <Projects />
          <BuiltWith />
        </div>
      </div>
    </div>
  </section>
</div>
