---
import Layout from "@layouts/Layout.astro";
import Blur from "@components/UI-modifiers/Blur";
import Homepage from "@components/Homepage/Homepage.astro";
---

<Layout title="Home | Rahul Deshar">
  <main class="relative flex h-full min-h-screen flex-col">
    <Blur client:only />
    <Homepage />
  </main>
</Layout>
