---
import Layout from "@layouts/Layout.astro";
import bannerImage from "@assets/images/undraw_coding.svg";
import Blur from "@components/Blur";
import RandomizeWord from "@components/RandomizeWords";
---

<Layout title="Home | Rahul Deshar">
  <main class="flex min-h-screen flex-col items-center justify-center">
    <Blur client:load />
    <div class="absolute z-10 text-center">
      <!-- <img src={bannerImage} alt="banner" class="mb-8"/> -->

      <h2
        class="drop-shadow-2x hover:bg-pos-10 mb-8 bg-gradient-to-l from-catDarkGreen via-catDarkOverlay1 to-catDarkLavender bg-size-200 bg-clip-text bg-pos-0 text-3xl font-bold text-transparent transition-all duration-700 hover:bg-pos-100 sm:text-4xl"
      >
        RAHUL DESHAR
      </h2>

      <h3 class="drop-shadow-2x mb-8 text-2xl font-bold sm:text-3xl">
        <span class="inline-block text-catDarkGreen">
          <RandomizeWord sourceWord="React Developer" client:load />
        </span>
         at Truemark Technolgy
      </h3>
      <h3
        class="drop-shadow-2x mb-2 animate-bounce text-xl font-bold sm:text-2xl"
      >
        UNDER CONSTRUCTION
      </h3>
      <p class="mb-8 text-center text-lg text-white">
        Meanwhile check this <a
          href="https://notes.rahuldeshar.com.np"
          class="animate-pulse font-bold text-blue-500 hover:animate-none hover:text-catDarkSky"
          >cheatsheet page</a
        >
      </p>
    </div>
  </main>
</Layout>
