---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import bannerImage from "../assets/images/undraw_coding.svg";
---

<Layout title="Home | Rahul Deshar">
  <main class="min-h-screen flex justify-center items-center flex-col">
    <img src={bannerImage} alt="banner" class="mb-8"/>
    <h1
      class="text-4xl sm:text-5xl text-white font-bold mb-8 animate-bounce text-center drop-shadow-2xl text-[#6c63ff]"
    >
      Under Construction !!!
    </h1>
    <p class="text-white text-lg mb-8 text-center">
      Meanwhile check this <a
        href="https://notes.rahuldeshar.com.np"
        class="text-blue-500 hover:text-emerald-600 font-bold animate-pulse"
        >cheatsheet page</a
      >
    </p>
  </main>
</Layout>

<style>
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
</style>
