---
import Layout from "@layouts/Layout.astro";
import bannerImage from "@assets/images/undraw_coding.svg"
import Blur from "@components/Blur";
import RandomizeWord from "@components/RandomizeWords"
---

<Layout title="Home | Rahul Deshar">
  <main class="min-h-screen flex justify-center items-center flex-col">
   <Blur  client:load />
   <div class="absolute z-10 text-center">
     <!-- <img src={bannerImage} alt="banner" class="mb-8"/> -->

      <h2 
      class="text-3xl sm:text-4xl font-bold mb-8 drop-shadow-2x text-transparent  bg-clip-text  transition-all duration-700 bg-gradient-to-l to-catDarkLavender via-catDarkOverlay1 from-catDarkGreen  hover:bg-pos-10 bg-size-200 bg-pos-0 hover:bg-pos-100"
      >RAHUL DESHAR</h2>
      <h3 class="text-2xl sm:text-3xl font-bold mb-8 drop-shadow-2x" >
        <span class="text-catDarkGreen inline-block">
          <RandomizeWord sourceWord="React Developer" client:load /> 
        </span>
        at Truemark Technolgy
      </h3>
      <h3 class="text-xl sm:text-2xl font-bold mb-2  animate-bounce drop-shadow-2x">UNDER CONSTRUCTION</h3>
      <p class="text-white text-lg mb-8 text-center">
        Meanwhile check this <a href="https://notes.rahuldeshar.com.np" class="text-blue-500 hover:text-catDarkSky font-bold animate-pulse hover:animate-none" >cheatsheet page</a>
      </p>
    </div>
  </main>
</>
