---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home | Rahul Deshar">
  <main>
    <h2 class="text-5xl text-white font-bold mb-8 animate-pulse">
      Under Construction
    </h2>
    <p class="text-white text-lg mb-8">
      Meanwhile check this <a href="https://docs.rahuldeshar.com.np"> docs page</a>
    </p>
  </main>
</Layout>
