---
import Layout from "@layouts/Layout.astro";
import bannerImage from "@assets/images/undraw_coding.svg";
import Blur from "@components/Blur";
import RandomizeWord from "@components/RandomizeWords";
import Homepage from "@components/Homepage/Homepage";
---

<Layout title="Home | Rahul Deshar">
  <main class="flex min-h-screen flex-col">
    <Blur client:load />
    <div class="absolute z-10">
      <Homepage client:load />
    </div>
  </main>
</Layout>
