---
import GoogleAnalytics from "@components/Analytics/GoogleAnalytics.astro";

interface Props {
  title: string;
}

import { SEO } from "astro-seo";
import "@assets/styles/global.css";
const { title } = Astro.props;
import ogImage from "@assets/images/og-image.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Rahul Deshar | Front End Developer" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description="Rahul Deshar | Front End Developer"
      openGraph={{
        basic: {
          title: "Portfolio | Rahul Deshar",
          type: "Portfolio",
          image: ogImage.src,
        },
      }}
    />
    <title>{title}</title>
    <GoogleAnalytics />
  </head>
  <body class="bg-background font-Roboto text-catDarkSurface0">
    <slot />
  </body>
</html>
